body {
    --e-global-color-primary: #FFFFFF;
    --e-global-color-secondary: #121D23;
    --e-global-color-text: #CECECE;
    --e-global-color-accent: #C9A581;
    --e-global-color-accentsecondary: #E4CCB4;
    --e-global-color-white: #FFFFFF;
    --e-global-color-black: #000000;
    --e-global-color-divider: #FFFFFF24;
    --e-global-color-darkdivider: #FFFFFF1A;
    --e-global-typography-primary-font-family: "Forum", serif;
    --e-global-typography-secondary-font-family: "Jost", serif;
    --e-global-typography-text-font-family: "Jost", serif;
    --e-global-typography-accent-font-family: "Jost", serif;
}