.elementor-6090 .elementor-element.elementor-element-a77c7ab {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 30px 30px;
    --row-gap: 30px;
    --column-gap: 30px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    overflow: visible;
}

.elementor-6090 .elementor-element.elementor-element-73e4ae0.ekit-equal-height-enable,
.elementor-6090 .elementor-element.elementor-element-73e4ae0.ekit-equal-height-enable>div,
.elementor-6090 .elementor-element.elementor-element-73e4ae0.ekit-equal-height-enable .ekit-wid-con,
.elementor-6090 .elementor-element.elementor-element-73e4ae0.ekit-equal-height-enable .ekit-wid-con .elementskit-infobox {
    height: 100%;
}

.elementor-6090 .elementor-element.elementor-element-73e4ae0 .elementskit-infobox {
    background-color: #FFFFFF00;
    padding: 0px 0px 0px 0px;
}

.elementor-6090 .elementor-element.elementor-element-73e4ae0 .elementskit-infobox .elementskit-info-box-title {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
    color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-size: var( --e-global-typography-primary-font-size);
    font-weight: var( --e-global-typography-primary-font-weight);
    line-height: var( --e-global-typography-primary-line-height);
}

.elementor-6090 .elementor-element.elementor-element-73e4ae0 .elementskit-infobox .box-body>p {
    color: var( --e-global-color-secondary);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    line-height: var( --e-global-typography-text-line-height);
}

.elementor-6090 .elementor-element.elementor-element-73e4ae0 .elementskit-infobox p {
    margin: 0px 0px 0px 0px;
}

.elementor-6090 .elementor-element.elementor-element-b3813b9.ekit-equal-height-enable,
.elementor-6090 .elementor-element.elementor-element-b3813b9.ekit-equal-height-enable>div,
.elementor-6090 .elementor-element.elementor-element-b3813b9.ekit-equal-height-enable .ekit-wid-con,
.elementor-6090 .elementor-element.elementor-element-b3813b9.ekit-equal-height-enable .ekit-wid-con .elementskit-infobox {
    height: 100%;
}

.elementor-6090 .elementor-element.elementor-element-b3813b9 .elementskit-infobox {
    background-color: #FFFFFF00;
    padding: 0px 0px 0px 0px;
}

.elementor-6090 .elementor-element.elementor-element-b3813b9 .elementskit-infobox .elementskit-info-box-title {
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 0px 0px;
    color: var( --e-global-color-accent);
    font-size: 34px;
    font-weight: 600;
    line-height: 1.2em;
}

.elementor-6090 .elementor-element.elementor-element-b3813b9 .elementskit-infobox .box-body>p {
    color: var( --e-global-color-secondary);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    line-height: var( --e-global-typography-text-line-height);
}

.elementor-6090 .elementor-element.elementor-element-b3813b9 .elementskit-infobox p {
    margin: 0px 0px 0px 0px;
}

.elementor-6090 .elementor-element.elementor-element-b3813b9 .elementskit-info-box-icon {
    color: var( --e-global-color-accent);
    fill: var( --e-global-color-accent);
}

.elementor-6090 .elementor-element.elementor-element-b3813b9 .elementskit-infobox .elementskit-info-box-icon {
    font-size: 18px;
    transform: rotate(0deg);
}

.elementor-6090 .elementor-element.elementor-element-b3813b9 .elementskit-infobox .elementskit-box-header .elementskit-info-box-icon {
    margin: 0px 0px 25px 0px;
}

.elementor-6090 .elementor-element.elementor-element-e09c0c9 {
    --display: flex;
    --gap: 25px 25px;
    --row-gap: 25px;
    --column-gap: 25px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    overflow: visible;
}

.elementor-widget-icon.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-6090 .elementor-element.elementor-element-78449b5 {
    padding: 0px 0px 0px 0px;
}

.elementor-6090 .elementor-element.elementor-element-78449b5 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-6090 .elementor-element.elementor-element-78449b5.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-accent);
}

.elementor-6090 .elementor-element.elementor-element-78449b5.elementor-view-framed .elementor-icon,
.elementor-6090 .elementor-element.elementor-element-78449b5.elementor-view-default .elementor-icon {
    color: var( --e-global-color-accent);
    border-color: var( --e-global-color-accent);
}

.elementor-6090 .elementor-element.elementor-element-78449b5.elementor-view-framed .elementor-icon,
.elementor-6090 .elementor-element.elementor-element-78449b5.elementor-view-default .elementor-icon svg {
    fill: var( --e-global-color-accent);
}

.elementor-6090 .elementor-element.elementor-element-78449b5 .elementor-icon {
    font-size: 18px;
}

.elementor-6090 .elementor-element.elementor-element-78449b5 .elementor-icon svg {
    height: 18px;
}

.elementor-6090 .elementor-element.elementor-element-3d6f719 .ekit-wid-con .ekit-single-day {
    background-color: #FFFFFF00;
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-6090 .elementor-element.elementor-element-3d6f719 {
    background-color: #FFFFFF00;
    padding: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
}

.elementor-6090 .elementor-element.elementor-element-3d6f719 .ekit-wid-con .ekit-single-day:not(:last-child) {
    border-style: none;
}

.elementor-6090 .elementor-element.elementor-element-3d6f719 .ekit-wid-con .ekit-single-day .ekit-business-day {
    color: var( --e-global-color-secondary);
    font-size: 18px;
    font-weight: 400;
    line-height: 1em;
    padding: 0px 0px 0px 0px;
}

.elementor-6090 .elementor-element.elementor-element-3d6f719 .ekit-wid-con .ekit-single-day .ekit-business-time {
    color: var( --e-global-color-secondary);
    font-size: 18px;
    font-weight: 400;
    line-height: 1em;
    padding: 0px 0px 0px 0px;
}

.elementor-6090 .elementor-element.elementor-element-4d662cc .elementor-repeater-item-9a1a3f7>a {
    color: var( --e-global-color-secondary);
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: var( --e-global-color-secondary);
}

.elementor-6090 .elementor-element.elementor-element-4d662cc .elementor-repeater-item-9a1a3f7>a svg path {
    stroke: var( --e-global-color-secondary);
    fill: var( --e-global-color-secondary);
}

.elementor-6090 .elementor-element.elementor-element-4d662cc .elementor-repeater-item-9a1a3f7>a:hover {
    color: var( --e-global-color-accent);
}

.elementor-6090 .elementor-element.elementor-element-4d662cc .elementor-repeater-item-9a1a3f7>a:hover svg path {
    stroke: var( --e-global-color-accent);
    fill: var( --e-global-color-accent);
}

.elementor-6090 .elementor-element.elementor-element-4d662cc .elementor-repeater-item-daf90e8>a {
    color: var( --e-global-color-secondary);
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: var( --e-global-color-secondary);
}

.elementor-6090 .elementor-element.elementor-element-4d662cc .elementor-repeater-item-daf90e8>a svg path {
    stroke: var( --e-global-color-secondary);
    fill: var( --e-global-color-secondary);
}

.elementor-6090 .elementor-element.elementor-element-4d662cc .elementor-repeater-item-daf90e8>a:hover {
    color: var( --e-global-color-accent);
}

.elementor-6090 .elementor-element.elementor-element-4d662cc .elementor-repeater-item-daf90e8>a:hover svg path {
    stroke: var( --e-global-color-accent);
    fill: var( --e-global-color-accent);
}

.elementor-6090 .elementor-element.elementor-element-4d662cc .elementor-repeater-item-fddefec>a {
    color: var( --e-global-color-secondary);
}

.elementor-6090 .elementor-element.elementor-element-4d662cc .elementor-repeater-item-fddefec>a svg path {
    stroke: var( --e-global-color-secondary);
    fill: var( --e-global-color-secondary);
}

.elementor-6090 .elementor-element.elementor-element-4d662cc .elementor-repeater-item-fddefec>a:hover {
    color: var( --e-global-color-accent);
}

.elementor-6090 .elementor-element.elementor-element-4d662cc .elementor-repeater-item-fddefec>a:hover svg path {
    stroke: var( --e-global-color-accent);
    fill: var( --e-global-color-accent);
}

.elementor-6090 .elementor-element.elementor-element-4d662cc>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-6090 .elementor-element.elementor-element-4d662cc .ekit_social_media {
    text-align: center;
}

.elementor-6090 .elementor-element.elementor-element-4d662cc .ekit_social_media>li>a {
    text-align: center;
    text-decoration: none;
    border-radius: 0% 0% 0% 0%;
    padding: 0px 15px 0px 0px;
}

.elementor-6090 .elementor-element.elementor-element-4d662cc .ekit_social_media>li {
    display: inline-block;
    margin: 0px 15px 0px 0px;
}

.elementor-6090 .elementor-element.elementor-element-4d662cc .ekit_social_media>li>a i {
    font-size: 20px;
}

.elementor-6090 .elementor-element.elementor-element-4d662cc .ekit_social_media>li>a svg {
    max-width: 20px;
}

@media(max-width:1024px) {
    .elementor-6090 .elementor-element.elementor-element-73e4ae0 .elementskit-infobox .elementskit-info-box-title {
        font-size: var( --e-global-typography-primary-font-size);
        line-height: var( --e-global-typography-primary-line-height);
    }
    .elementor-6090 .elementor-element.elementor-element-73e4ae0 .elementskit-infobox .box-body>p {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-6090 .elementor-element.elementor-element-b3813b9 .elementskit-infobox .elementskit-info-box-title {
        font-size: 20px;
    }
    .elementor-6090 .elementor-element.elementor-element-b3813b9 .elementskit-infobox .box-body>p {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-6090 .elementor-element.elementor-element-3d6f719 .ekit-wid-con .ekit-single-day .ekit-business-day {
        font-size: 18px;
    }
    .elementor-6090 .elementor-element.elementor-element-3d6f719 .ekit-wid-con .ekit-single-day .ekit-business-time {
        font-size: 18px;
    }
    .elementor-6090 .elementor-element.elementor-element-4d662cc .ekit_social_media>li>a {
        padding: 0px 10px 0px 0px;
    }
    .elementor-6090 .elementor-element.elementor-element-4d662cc .ekit_social_media>li {
        margin: 0px 10px 0px 0px;
    }
    .elementor-6090 .elementor-element.elementor-element-4d662cc .ekit_social_media>li>a i {
        font-size: 16px;
    }
    .elementor-6090 .elementor-element.elementor-element-4d662cc .ekit_social_media>li>a svg {
        max-width: 16px;
    }
}

@media(max-width:767px) {
    .elementor-6090 .elementor-element.elementor-element-73e4ae0 .elementskit-infobox .elementskit-info-box-title {
        font-size: var( --e-global-typography-primary-font-size);
        line-height: var( --e-global-typography-primary-line-height);
    }
    .elementor-6090 .elementor-element.elementor-element-73e4ae0 .elementskit-infobox .box-body>p {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-6090 .elementor-element.elementor-element-b3813b9 .elementskit-infobox .elementskit-info-box-title {
        font-size: 18px;
    }
    .elementor-6090 .elementor-element.elementor-element-b3813b9 .elementskit-infobox .box-body>p {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-6090 .elementor-element.elementor-element-3d6f719 .ekit-wid-con .ekit-single-day .ekit-business-day {
        font-size: 16px;
    }
    .elementor-6090 .elementor-element.elementor-element-3d6f719 .ekit-wid-con .ekit-single-day .ekit-business-time {
        font-size: 16px;
    }
    .elementor-6090 .elementor-element.elementor-element-4d662cc .ekit_social_media>li {
        margin: 0px 0px 0px 15px;
    }
}